.portfolio {
    padding: 120px 0;

    @include lg {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 34px;
        line-height: 126%;
        text-align: center;
        color: $black;

        @include lg {
            margin-bottom: 20px;
            font-size: 30px;
            line-height: 40px;
        }

        @include md {
            font-size: 26px;
            line-height: 33px;
            text-align: left;
        }
    }

    &__desc {
        margin-bottom: 60px;
        font-weight: 400;
        font-size: 21px;
        line-height: 152%;        
        text-align: center;
        color: #4D4D4D;

        @include md {
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 28px;
            text-align: left;

            br {
                display: none;
            }
        }
    }

    &__item-title {
        margin-top: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #101010;

        @include md {
            margin-top: 15px;
            font-size: 21px;
            line-height: 27px;
        }
    }

    &__nav {
        position: absolute;
        top: 200px;
        width: 37px;
        height: 22px;        
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;        

        @include lg {
            display: none;
        }

        &--prev {
            left: -67px;
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='22' viewBox='0 0 37 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8824 22L12.4385 20.4677L4.18971 12.1L37 12.1L37 9.9L4.18971 9.9L12.4385 1.5697L10.8824 1.50674e-06L9.51366e-07 11L10.8824 22Z' fill='%23333333'/%3E%3C/svg%3E%0A");
        }

        &--next {
            right: -67px;
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='22' viewBox='0 0 37 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.1172 4.59124e-06L24.561 1.5323L32.8098 9.9L-0.000490003 9.9L-0.000490386 12.1L32.8098 12.1L24.561 20.4303L26.1172 22L36.9995 11L26.1172 4.59124e-06Z' fill='%23333333'/%3E%3C/svg%3E");
        }
    }

    &__pagination {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;        

        @include md {
            margin-top: 35px;
        }

        .swiper-pagination-bullet {
            display: block;
            width: 50px;
            height: 2px;
            background: #E0E0E0;

            &-active {
                background-color: $black;
            }
        }
    }
}