* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    @include lg {
        max-width: 960px;
    }

    @include md {
        max-width: 720px;
    }

    @include sm {
        max-width: none;
        padding: 0 20px;
    }
}
