.swiper {
    &-inner-container {
        position: relative;
    }

    &-container {
        position: relative;
        overflow: hidden;
        list-style: none;
        z-index: 1;
        height: 100%;
    }

    &-wrapper {
        z-index: 1;
        display: flex;
        box-sizing: content-box;
    }

    &-slide {
        height: initial;
        flex-shrink: 0;
    }
}
